:root {
    font-family: 'Roboto', sans-serif;
    --empashis-white: #f9faf8;
    --dim-white: #e5e7eb;
    --button-blue: #3882f6;
    --global-width: 1200px;
}


body {
    padding: 0;
    margin: 0;
}

/* header section */
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:var(--global-width);
}

.logo {
    font-size: 24px;
    color: var(--empashis-white);
}

.hero {
    display: flex;
    width: var(--global-width);
}

.hero > .text > h1{
    color: var(--empashis-white);
    font-size: 48px;
    font-weight: extra-bold;
}

.hero > .text > p, .links > ul{
    color: var(--dim-white);
    font-size: 18px;
}


.links > ul {
    margin:0 ;
    padding:0 ;
    list-style-type: none;
    display:flex;
}

.hero > .text >button {
    border: none;
    background-color: var(--button-blue);
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    border-radius: 5px;
}

.hero > img {
    background-color: aliceblue;
}
/*  */

